<br />
<br />

<div
  *ngFor="
    let row of myFavoritesList.slice(
      0,
      (myFavoritesList.length / 4) % 1 === 0
        ? myFavoritesList.length / 4
        : myFavoritesList.length / 4 + 1
    );
    let idx = index
  "
>
  <div class="row">
    <span
      *ngFor="
        let x of myFavoritesList.slice(idx * 4, idx * 4 + 4);
        let idy = index
      "
    >
      <div class="column">
        <button
          type="button"
          class="btn btn-link card"
          (click)="openAtHome(x.key, x.location)"
        >
          <button class="btn btn-link red" (click)="removeCity(x.key)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <br />
          <div *ngIf="this.information.length == myFavoritesList.length">
            <h3>{{ x.location }}</h3>
            <div *ngIf="information[idx * 4 + idy].WeatherIcon > 10; else zero">
              <img
                src="https://developer.accuweather.com/sites/default/files/{{
                  information[idx * 4 + idy].WeatherIcon
                }}-s.png"
              />
            </div>
            <ng-template #zero>
              <img
                src="https://developer.accuweather.com/sites/default/files/0{{
                  information[idx * 4 + idy].WeatherIcon
                }}-s.png"
              />
            </ng-template>

            <p>
              <span>
                {{
                  (
                    (information[idx * 4 + idy].Temperature.Value - 32) /
                    1.8
                  ).toFixed(2)
                }}
                &#8451;</span
              >
            </p>
            <h4>{{ information[idx * 4 + idy].IconPhrase }}</h4>
          </div>
        </button>
      </div>
    </span>
  </div>
</div>
