<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <form [formGroup]="userForm" (ngSubmit)="Serch()" novalidate>
      <div class="container">
        <div class="form-group">
          <label>Enter country and city :</label>
          <input
            type="text"
            placeholder="Israel Tel Aviv"
            formControlName="place"
            class="form-control"
            required
            maxlength="55"
            size="55"
          />
          <p *ngIf="place.errors?.pattern" class="error">
            <sup>*</sup>Enter only English letters
          </p>
        </div>
        <div class="form-group pos">
          <button
            type="submit"
            class="btn btn-info"
            [disabled]="!userForm.valid"
          >
            <span class="glyphicon glyphicon-search"></span>
            Search
          </button>
        </div>
      </div>
    </form>
    <div class="forecasts">
      <div *ngIf="this.tempNow.length !== undefined">
        <button class="btn btn-info btnPos" (click)="addToFavorites()">
          <span class="glyphicon glyphicon-heart"></span> Add to favorites
        </button>
        <div *ngIf="tempNow[0].WeatherIcon > 10; else withZero">
          <img
            src="https://developer.accuweather.com/sites/default/files/{{
              tempNow[0].WeatherIcon
            }}-s.png"
          />
          {{ location }}
        </div>
        <ng-template #withZero>
          <img
            src="https://developer.accuweather.com/sites/default/files/0{{
              tempNow[0].WeatherIcon
            }}-s.png"
          />
          {{ location }}
        </ng-template>

        <div class="detail">
          <span>
            {{ ((this.tempNow[0].Temperature.Value - 32) / 1.8).toFixed(2) }}
            &#8451;</span
          >
        </div>
        <br />
        <br />
        <br />
        <table class="table borderless">
          <tbody>
            <tr>
              <td *ngFor="let datai of data.DailyForecasts; let i = index">
                &emsp; {{ data.DailyForecasts[i].Date | date: "EEEE" }}
              </td>
            </tr>
            <tr>
              <td *ngFor="let datai of data.DailyForecasts; let i = index">
                <span>
                  {{
                    (
                      (data.DailyForecasts[i].Temperature.Maximum.Value - 32) /
                      1.8
                    ).toFixed(2)
                  }}
                  &#8451;
                </span>
              </td>
            </tr>
            <tr>
              <td *ngFor="let datai of data.DailyForecasts; let i = index">
                <div *ngIf="data.DailyForecasts[i].Day.Icon > 10; else zero">
                  <img
                    src="https://developer.accuweather.com/sites/default/files/{{
                      data.DailyForecasts[i].Day.Icon
                    }}-s.png"
                  />
                </div>
                <ng-template #zero>
                  <img
                    src="https://developer.accuweather.com/sites/default/files/0{{
                      data.DailyForecasts[i].Day.Icon
                    }}-s.png"
                  />
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
